<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/main.css" type="text/css" />

    <title>LoginPage</title>
  </head>
  <body>
    <div class="formwarpper">
      <form class="form" method="get" action="/dashboard" id="loginpage">
        <h2>Login</h2>
        <input
          class="forminput input-text"
          type="input"
          name="username"
          id="username"
          placeholder="Username"
          required
        />
        <input
          class="forminput input-text"
          type="password"
          name="loginpassword"
          id="loginpassword"
          placeholder="Password"
          required
        />
        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
